*
!.gitignore
compiled.php
config.php
down
events.scanned.php
maintenance.php
routes.php
routes.scanned.php
schedule-*
services.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*.backup
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
laravel.log
# Ignore local database files
*.db
*.sqlite
*.sql